.DS_Store
app/.DS_Store
app/.Rhistory
data/.DS_Store
www/
data/Housing_Maintenance_Code_Complaints.csv
app/.RDataTmp
data/2018up.Rda
data/summary.Rda
data/impair.Rda
data/RDataFrames.RData
data/Housing_Maintenance_Code_Violations.csv
doc/notes.txt
